h1{
    color:#111111;
    font-size:80px;
}

body {
    font-size:60px;
    background-color: #CBFFD3 !important;
}

.edit{
    text-align:left;
}

.title{
    text-align:center;
    ;font-size:70px
}
.delete{
    text-align:left;
}
    
h2 {
  text-align:center;
  color:#0000FF;
}

p{
    font-size:30px;
    text-align:center;
}

a{
    font-size:30px;
}

.image{
    text-align:center;
}

.post_like{
    text-align:left;
    font-size:30px
}

.info{
    text-align:center;
    color:#FF0033;
    font-size:60px;
}